{% load static %}

<!doctype html>
<html lang="en">

<head>

<title>JobBoard - Candidates</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="shortcut icon" href="{% static 'ftco-32x32.png' %}">


<link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/companyprofile.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>



<body id="top">


<div id="overlayer"></div>

<div class="loader">

<div class="spinner-border text-primary" role="status">

<span class="sr-only">
Loading...
</span>

</div>

</div>



<div class="site-wrap">



<!-- MOBILE MENU -->

<div class="site-mobile-menu site-navbar-target">

<div class="site-mobile-menu-header">

<div class="site-mobile-menu-close mt-3">

<span class="icon-close2 js-menu-toggle"></span>

</div>

</div>


<div class="site-mobile-menu-body"></div>

</div>






<!-- NAVBAR -->


<header class="site-navbar mt-3">


<div class="container-fluid">

<div class="row align-items-center">



<div class="site-logo col-6">

<a href="{% url 'company_index' %}">
JobBoard
</a>

</div>





<nav class="mx-auto site-navigation">


<ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">



<li>
<a href="{% url 'company_index' %}">
Home
</a>
</li>




<li>

<a href="{% url 'companypostview' company.id %}">
Job Post
</a>

</li>





<li>

<a href="{% url 'company_candidates' %}" 
class="nav-link active">

Candidate

</a>

</li>






<li>

<a href="{% url 'hiring_analytics' %}">
Hiring Analytic
</a>

</li>






<li>

<a href="{% url 'companyprofile' company.id %}">
Profile
</a>

</li>






<li>

<a href="{% url 'companypost' %}"
class="btn d-none d-lg-inline-block">


<span class="mr-2 icon-add"></span>

Post a Job


</a>

</li>





<li class="d-lg-none">

<a href="{% url 'companylogout' %}">
Log Out
</a>

</li>



</ul>


</nav>






<div class="right-cta-menu text-right d-flex align-items-center col-6">


<div class="ml-auto">


<a href="{% url 'companylogout' %}"
class="btn btn-primary border-width-2 d-none d-lg-inline-block">


<span class="mr-2 icon-lock_outline"></span>

Log Out


</a>


</div>



<a href="#" 
class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3">

<span class="icon-menu h3 m-0 p-0 mt-2"></span>

</a>



</div>



</div>

</div>


</header>









<!-- HERO -->


<section class="section-hero overlay inner-page bg-image"

style="background-image:url('{% static 'images/company1.jpg' %}');">


<div class="container">


<div class="row">


<div class="col-md-7">


<h1 class="text-white font-weight-bold">

Candidates

</h1>




<div class="custom-breadcrumbs">


<a href="{% url 'company_index' %}">
Home
</a>


<span class="mx-2 slash">
/
</span>


<span class="text-white">

<strong>
Candidates
</strong>

</span>



</div>


</div>


</div>


</div>


</section>


<!-- CANDIDATE LIST -->

<section class="site-section">

<div class="container">


<div class="row mb-5 justify-content-center">

<div class="col-md-7 text-center">

<h2 class="section-title mb-2">
Available Candidates
</h2>

</div>

</div>



<ul class="job-listings mb-5">


{% for i in job_applications %}


<li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">


<!-- Employee Image -->

<div class="job-listing-logo">

{% if i.employee.employeeprofile.profile_image %}

<img src="{{ i.employee.employeeprofile.profile_image.url }}"
class="img-fluid">

{% else %}

<img src="{% static 'images/job_logo_1.jpg' %}"
class="img-fluid">

{% endif %}

</div>




<div class="job-listing-about d-flex w-100 justify-content-between mx-4 align-items-center">


<!-- Employee Info -->

<div class="job-listing-position w-50">


<h2>
{{ i.employee.username }}
</h2>


<strong>
Applied For: {{ i.job.position }}
</strong>


<div class="mt-2">

<span class="icon-mail"></span>
{{ i.employee.email }}

</div>


</div>





<!-- Status -->

<div class="w-25 text-center">


{% if i.status == "Accepted" %}

<span class="btn btn-success">
{{ i.status }}
</span>


{% elif i.status == "Rejected" %}

<span class="btn btn-danger">
{{ i.status }}
</span>


{% elif i.status == "Shortlisted" %}

<span class="btn btn-primary">
{{ i.status }}
</span>


{% elif i.status == "Pending" %}

<span class="btn btn-warning">
{{ i.status }}
</span>


{% else %}

<span class="btn btn-primary">
{{ i.status }}
</span>


{% endif %}


</div>





<!-- Profile Button -->

<div class="w-25 text-right">


<a href="{% url 'employeeprofileview' i.employee.id %}"
class="btn btn-secondary">

View Details

</a>


</div>




</div>



</li>


{% empty %}


<li class="text-center py-5">

<h5>
No candidates found.
</h5>

</li>


{% endfor %}


</ul>


</div>

</section>






<!-- FOOTER -->


<footer class="site-footer">


<div class="container">


<div class="row mb-5">



<div class="col-md-3">


<h3>
Search Trending
</h3>


<ul class="list-unstyled">


<li><a href="#">Web Design</a></li>

<li><a href="#">Python</a></li>

<li><a href="#">Developers</a></li>


</ul>


</div>





<div class="col-md-3">


<h3>
Company
</h3>


<ul class="list-unstyled">


<li><a href="#">About Us</a></li>

<li><a href="#">Career</a></li>


</ul>


</div>





<div class="col-md-3">


<h3>
Support
</h3>


<ul class="list-unstyled">


<li><a href="#">Support</a></li>

<li><a href="#">Privacy</a></li>


</ul>


</div>






<div class="col-md-3">


<h3>
Contact Us
</h3>


<div class="footer-social">


<a href="#"><span class="icon-facebook"></span></a>

<a href="#"><span class="icon-twitter"></span></a>

<a href="#"><span class="icon-instagram"></span></a>

<a href="#"><span class="icon-linkedin"></span></a>


</div>


</div>


</div>





<div class="row text-center">


<div class="col-12">


<p class="copyright">


<small>

Copyright © 2026 All rights reserved

</small>


</p>


</div>


</div>




</div>


</footer>







</div>






<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<script src="{% static 'js/stickyfill.min.js' %}"></script>

<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>



</body>

</html>