  {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
<form method="POST">
    {% csrf_token %}

    <h2>Employee Register</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <input type="text" name="username" placeholder="Username" required><br><br>

    <input type="email" name="email" placeholder="Email" required><br><br>

    <input type="password" name="password" placeholder="Password" required><br><br>

    <button type="submit">Register</button>

    <p>
        Already have an account?
        <a href="{% url 'employeelogin' %}">Login</a>
    </p>
</form>
```

</body>
</html>
