{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

<title>JobBoard - Employee Profile</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" href="{% static 'ftco-32x32.png' %}">


<link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

<link rel="stylesheet" href="{% static 'css/employ_profile_detail.css' %}">

<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>



<body id="top">


<div id="overlayer"></div>

<div class="loader">
<div class="spinner-border text-primary" role="status">
<span class="sr-only">Loading...</span>
</div>
</div>




<div class="site-wrap">



<!-- MOBILE MENU -->

<div class="site-mobile-menu site-navbar-target">

<div class="site-mobile-menu-header">

<div class="site-mobile-menu-close mt-3">

<span class="icon-close2 js-menu-toggle"></span>

</div>

</div>


<div class="site-mobile-menu-body"></div>

</div>





<!-- NAVBAR -->

<header class="site-navbar mt-3">

<div class="container-fluid">

<div class="row align-items-center">



<div class="site-logo col-6">

<a href="{% url 'homeview' %}">
Career Bridge
</a>

</div>




<nav class="mx-auto site-navigation">

<ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">


<li>
<a href="{% url 'homeview' %}" class="nav-link">
Home
</a>
</li>


<li>
<a href="{% url 'company_list_view' %}">
Company
</a>
</li>



<li>
<a href="#">
Career Match
</a>
</li>



<li>
<a href="{% url 'applied_job' %}">
Applied Job
</a>
</li>



<li>
<a href="{%url 'employeeprofile' %}">
Profile
</a>
</li>



{% if request.session.employee_id %}
              <li><a href="{%url 'employeelogout' %}" id="logoutBtn">Log out</a></li>
              {% else %}
              <li><a href="{%url 'employeelogin' %}">Log In</a></li>
              {% endif %}


</ul>

</nav>





<div class="right-cta-menu text-right d-flex align-items-center col-6">

<div class="ml-auto">

<a href="{% url 'employeelogout' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block" id="logoutBtn">

<span class="mr-2 icon-lock_outline"></span>

Log Out

</a>

</div>



<a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3">

<span class="icon-menu h3 m-0 p-0 mt-2"></span>

</a>


</div>



</div>

</div>

</header>






<!-- HERO -->


<section class="section-hero overlay inner-page bg-image"
style="background-image:url('{% static 'images/hero.jpg' %}');"
id="home-section">


<div class="container">

<div class="row">

<div class="col-md-7">


<h1 class="text-white font-weight-bold">
Profile
</h1>



<div class="custom-breadcrumbs">

<a href="{% url 'homeview' %}" class="dec">
Home
</a>


<span class="mx-2 slash">
/
</span>


<span class="text-white">
<strong>
Profile
</strong>
</span>


</div>



</div>

</div>

</div>

</section>







<!-- PROFILE SECTION -->


<section class="profile-section">


<div class="container">


<div class="profile-card">



<h2 class="profile-title">
My Profile
</h2>





<div class="row align-items-center">





<!-- IMAGE -->


<div class="col-md-4 text-center">


{% if profile.profile_image %}

<img src="{{ profile.profile_image.url }}"
class="profile-image"
alt="Profile Image"
onclick="showImage(this.src)">


{% else %}


<img src="{% static 'images/default-profile.jpg' %}"
class="profile-image"
alt="Default Profile"
onclick="showImage(this.src)">


{% endif %}



</div>







<!-- PERSONAL INFO -->


<div class="col-md-8 profile-info">


<h4>
{{ profile.full_name }}
</h4>



<p>
<strong>Email:</strong>
{{ employee.email }}
</p>


<p>
<strong>Phone:</strong>
{{ profile.phone }}
</p>


<p>
<strong>Gender:</strong>
{{ profile.gender }}
</p>


<p>
<strong>Date of Birth:</strong>
{{ profile.date_of_birth }}
</p>



<p>
<strong>Address:</strong>
{{ profile.address }}
</p>



<p>
<strong>Summary:</strong>
{{ profile.summary }}
</p>



<a href="{% url 'edit_employee_profile' employee.id %}"
class="profile-btn">

Edit Profile

</a>

<a href="{% url 'savedjobs' %}"
class="profile-btn">

Saved Jobs

</a>



</div>


</div>








<hr>



<!-- EDUCATION -->

<h3 class="section-title">
    Education
</h3>


{% for edu in employee.education_set.all %}

<div class="detail-box mb-3">

    <div class="row">

        <div class="col-md-3 info-column">
            <strong>Institution</strong>
            <br>
            <span>{{ edu.institution }}</span>
        </div>


        <div class="col-md-3 info-column">
            <strong>Degree</strong>
            <br>
            <span>{{ edu.degree }}</span>
        </div>


        <div class="col-md-3 info-column">
            <strong>Field</strong>
            <br>
            <span>{{ edu.field_of_study }}</span>
        </div>


        <div class="col-md-2 info-column">
            <strong>Year</strong>
            <br>
            <span>{{ edu.start_year }} - {{ edu.end_year }}</span>
        </div>


    </div>

</div>

{% endfor %}







<!-- EXPERIENCE -->

<h3 class="section-title">
    Experience
</h3>


{% for exp in employee.experience_set.all %}


<div class="detail-box mb-3">


    <div class="row">


        <div class="col-md-3 info-column">
            <strong>Company</strong>
            <br>
            <span>{{ exp.company_name }}</span>
        </div>


        <div class="col-md-3 info-column">
            <strong>Position</strong>
            <br>
            <span>{{ exp.position }}</span>
        </div>


        <div class="col-md-3 info-column">
            <strong>Date</strong>
            <br>
            <span>{{ exp.start_date }} - {{ exp.end_date }}</span>
        </div>


        <div class="col-md-2 info-column">
            <strong>Description</strong>
            <br>
            <span>{{ exp.description }}</span>
        </div>


    </div>


</div>


{% endfor %}







<!-- SKILLS -->

<h3 class="section-title">
    Skills
</h3>


<div class="skills-box">


    <div class="row">


        {% for skill in employee.skill_set.all %}


        <div class="col-md-4 mb-3">


            <div class="detail-box">


                <span class="icon-check_circle mr-2"></span>

                <strong>{{ skill.skill_name }}</strong>

                <br>

                <span>{{ skill.proficiency }}</span>


            </div>


        </div>


        {% endfor %}


    </div>


</div>



<!-- CLOSE PROFILE CARD / CONTAINER BEFORE FOOTER -->

</div>
</div>
</section>





<!-- FOOTER -->

<footer class="site-footer">

  <a href="#top" class="smoothscroll scroll-top">
    <span class="icon-keyboard_arrow_up"></span>
  </a>

  <div class="container">
    <div class="row mb-5">
      
      <!-- Column 1: Quick Links -->
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0">
        <h3>Quick Links</h3>
        <ul class="list-unstyled">
          <li><a href="{% url 'intro' %}" class="dec">Welcome</a></li>
          <li><a href="{% url 'homeview' %}" class="dec">Find Jobs</a></li>
          <li><a href="{% url 'careerquiz' %}" class="dec">Career Quiz</a></li>
        </ul>
      </div>

      <!-- Column 2: For Job Seekers -->
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0">
        <h3>For Job Seekers</h3>
        <ul class="list-unstyled">
          <li><a href="{% url 'homeview' %}#list" class="dec">Job Lists</a></li>
          <li><a href="{% url 'savedjobs' %}" class="dec">Saved Jobs</a></li>
          <li><a href="{% url 'applied_job' %}" class="dec">Applied Jobs</a></li>
          <li><a href="{% url 'result_history' %}" class="dec">Career Match Results</a></li>
        </ul>
      </div>

      <!-- Column 3: For Companies -->
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0">
        <h3>For Companies</h3>
        <ul class="list-unstyled">
          <li><a href="{% url 'companypost' %}" class="dec">Post Job</a></li>
          <li><a href="{% url 'company_index' %}" class="dec">Dashboard</a></li>
          <li><a href="{% url 'company_candidates' %}" class="dec">Applicants</a></li>
          <li><a href="{% url 'companyregister' %}" class="dec">Register</a></li>
        </ul>
      </div>

      <!-- Column 4: Contact Us -->
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0">
        <h3>Contact Us</h3>

        <div class="footer-social mb-3">
          <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
            <span class="icon-facebook"></span>
          </a>
          <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
            <span class="icon-twitter"></span>
          </a>
          <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <span class="icon-instagram"></span>
          </a>
          <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
            <span class="icon-linkedin"></span>
          </a>
        </div>

        <p class="mb-1 text-break">
          <span class="icon-envelope"></span>
          Email: support@careerbridge.com
        </p>

        <p class="mb-0 text-break">
          <span class="icon-phone"></span>
          Phone: +95 9 123 456 789
        </p>
      </div>

    </div>

    <div class="row text-center">
      <div class="col-12">
        <p class="copyright"><small>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
        </small></p>
      </div>
    </div>
  </div>
</footer>

<!-- IMAGE MODAL -->


<div id="imageModal" class="image-modal">


<span class="close-image" onclick="closeImage()">

&times;

</span>


<img id="popupImage" class="popup-image">


</div>






<script>


function showImage(src){

document.getElementById("imageModal").style.display="flex";

document.getElementById("popupImage").src=src;

}



function closeImage(){

document.getElementById("imageModal").style.display="none";

}



document.getElementById("imageModal").onclick=function(e){

if(e.target.id==="imageModal"){

closeImage();

}

}


</script>






<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
document.getElementById("logoutBtn").addEventListener("click", function(e) {
    e.preventDefault();

    Swal.fire({
        title: "Logout?",
        text: "Are you sure you want to logout?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#074f85",
        cancelButtonColor: "#6c757d",
        confirmButtonText: "Yes, Logout",
        cancelButtonText: "Cancel"
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = this.href;
        }
    });
});
</script>



</body>

</html>